@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events:none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;

}
.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {

    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);

}
.parallax img {


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.product-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin: 20px auto; /* Add margin to center the container */
}

.product {
    width: calc(50% - 20px); /* Set each product to take up half of the container width with some margin */
    margin-bottom: 20px; /* Add margin at the bottom of each product */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px; /* Add padding around each product */
    height: 200px; /* Set a fixed height for each product */
}

.product img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 100%; /* Ensure the image doesn't exceed the height of the product div */
    object-fit: cover; /* Cover the entire container with the image */
}

.product h3 {
    margin-top: 10px; /* Add some space between the image and the heading */
    font-size: 18px; /* Adjust heading font size */
}

.product p {
    font-size: 14px; /* Adjust paragraph font size */
}
